{{#paper-card as |card|}}
  {{#paper-toolbar}}
    {{#paper-toolbar-tools}}
      <h2>
        Messages in channel: {{channel}}
      </h2>
      <span class="flex"></span>
      {{#paper-menu position="target-right target" as |menu|}}
        {{#menu.trigger}}
          {{#paper-button}}
            {{paper-icon "menu"}}
          {{/paper-button}}
        {{/menu.trigger}}
        {{#menu.content as |content|}}
          {{#content.menu-item onClick=(action "toggleDialog" "user")}}
            {{paper-icon "portrait"}}
            <span>Change User</span>
          {{/content.menu-item}}
          {{#content.menu-item onClick=(action "toggleDialog" "channel")}}
            {{paper-icon "swap_calls"}}
            <span>Change Channel</span>
          {{/content.menu-item}}
        {{/menu.content}}
      {{/paper-menu}}
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}
  {{chat-window user=user messages=messages}}
  {{#card.content}}
    {{chat-box socket=socket}}
  {{/card.content}}
{{/paper-card}}

{{#if showUserDialog}}
  {{#paper-dialog onClose=(action "closeDialog" "close" "user")}}
    {{#paper-dialog-content}}
      <h2 class="md-title">Change User Name?</h2>
      <p>Pick a new user name: </p>
      {{paper-input
        placeholder="username"
        autofocus=true
        value=_user
        onChange=(action (mut _user))
        onKeyUp=(action "submitIfEnter" "user" _user)
      }}
    {{/paper-dialog-content}}
    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{paper-button
        label="Cancel"
        primary=true
        onClick=(action "closeDialog" "cancel" "user")
      }}
      {{paper-button
        label="Change User"
        primary=true
        raised=true
        disabled=(not _user)
        onClick=(action "closeDialog" "ok" "user" _user)
      }}
    {{/paper-dialog-actions}}
  {{/paper-dialog}}
{{/if}}

{{#if showChannelDialog}}
  {{#paper-dialog onClose=(action "closeDialog" "close" "channel")}}
    {{#paper-dialog-content}}
      <h2 class="md-title">Change Channel?</h2>
      <p>Pick a new channel: </p>
      {{paper-input
        placeholder="channel"
        autofocus=true
        value=_channel
        onChange=(action (mut _channel))
        onKeyUp=(action "submitIfEnter" "channel" _channel)
      }}
    {{/paper-dialog-content}}
    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{paper-button
        label="Cancel"
        primary=true
        onClick=(action "closeDialog" "cancel" "channel")
      }}
      {{paper-button
        label="Change Channel"
        primary=true
        raised=true
        disabled=(not _channel)
        onClick=(action "closeDialog" "ok" "channel" _channel)
      }}
    {{/paper-dialog-actions}}
  {{/paper-dialog}}
{{/if}}
